<%= form_for(@qso) do |f| %>
  <% if @qso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qso.errors.count, "error") %> prohibited this qso from being saved:</h2>

      <ul>
      <% @qso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      
  <div class="field">
    <%= f.label :time_upper %><br />
    <%= f.number_field :time_upper %>
  </div>
  <div class="field">
    <%= f.label :time_lower %><br />
    <%= f.number_field :time_lower %>
  </div>
  <div class="field">
    <%= f.label :band %><br />
    <%= f.text_field :band %>
  </div>
  <div class="field">
    <%= f.label :station %><br />
    <%= f.text_field :station %>
  </div>
  <div class="field">
    <%= f.label :mode %><br />
    <%= f.number_field :mode %>
  </div>
  <div class="field">
    <%= f.label :dupe %><br />
    <%= f.number_field :dupe %>
  </div>
  <div class="field">
    <%= f.label :serial %><br />
    <%= f.number_field :serial %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :id_key %><br />
    <%= f.number_field :id_key %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </div>
  <div class="field">
    <%= f.label :operating_class %><br />
    <%= f.number_field :operating_class %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.number_field :section %>
  </div>
  <div class="field">
    <%= f.label :c_field %><br />
    <%= f.number_field :c_field %>
  </div>
  <div class="field">
    <%= f.label :country_prefix %><br />
    <%= f.number_field :country_prefix %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
