<%= form_for(@rig) do |f| %>
  <% if @rig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rig.errors.count, "error") %> prohibited this rig from being saved:</h2>

      <ul>
      <% @rig.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :network_letter %><br />
    <%= f.number_field :network_letter %>
  </div>
  <div class="field">
    <%= f.label :rig_number %><br />
    <%= f.text_field :rig_number %>
  </div>
  <div class="field">
    <%= f.label :network_display_name %><br />
    <%= f.text_field :network_display_name %>
  </div>
  <div class="field">
    <%= f.label :transmit_frequency %><br />
    <%= f.text_field :transmit_frequency %>
  </div>
  <div class="field">
    <%= f.label :receive_frequency %><br />
    <%= f.text_field :receive_frequency %>
  </div>
  <div class="field">
    <%= f.label :mode %><br />
    <%= f.text_field :mode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
