<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @rig.username %>
</p>

<p>
  <b>Network Letter:</b>
  <%= @rig.network_letter %>
</p>

<p>
  <b>Rig Number:</b>
  <%= @rig.rig_number %>
</p>

<p>
  <b>Network Display Name:</b>
  <%= @rig.network_display_name %>
</p>

<p>
  <b>Transmit frequency:</b>
  <%= @rig.transmit_frequency %>
</p>

<p>
  <b>Receive frequency:</b>
  <%= @rig.receive_frequency %>
</p>

<p>
  <b>Mode:</b>
  <%= @rig.mode %>
</p>


<%= link_to 'Edit', edit_rig_path(@rig) %> |
<%= link_to 'Back', rigs_path %>
